:root {
    // Colors
    --c-p-xxxl: #000000;
    --c-p-xxl: #2b2b2b;
    --c-p-xl: #636363;
    --c-p-l: #878787;
    --c-p-m: #bdbdbd;
    --c-p-s: #e2e2e2;
    --c-p-xs: #ededed;
    --c-p-xxs: #f6f6f6;

    // Borders
    --b-r-s: 4px;
    --b-r-m: 8px;

    // Transitions
    --t-m: 0.16s ease;
}
