:root {
    // Colors
    --c-p-m: #000;
    --c-p-l: #0f0f0f;
    --c-p-xl: #aeaeae;
    --c-p-xxl: #ededed;

    --c-p-xxxl: #000000;
    --c-p-xxl: #333333;
    --c-p-xl: #636363;
    --c-p-l: #878787;
    --c-p-m: #bdbdbd;
    --c-p-s: #e2e2e2;
    --c-p-xs: #ededed;
    --c-p-xxs: #f6f6f6;

    // Borders
    --b-r-s: 4px;
    --b-r-m: 8px;

    // Transitions
    --t-m: 0.16s ease;
}
